{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Area Start -->
    {% include 'hero.html' %}
    <!-- Hero Area End -->

    <!-- Services Section Start -->
    {% include 'services.html' %}
    <!-- Services Section End -->

    <!-- Feature Section Start -->
    {% include 'feature.html' %}
    <!-- Feature Section End -->

    <!-- Team Section Start -->
    {% include 'team.html' %}
    <!-- Team Section End -->

    <!-- Clients Section Start -->
    {% include 'clients.html' %}
    <!-- Clients Section End -->

    <!-- Testimonial Section Start -->
    {% include 'testimonial.html' %}
    <!-- Testimonial Section End -->  

    <!-- Pricing section Start --> 
    {% include 'pricing.html' %}
    <!-- Pricing Table Section End -->

    <!-- Owl Slider Section Start -->
    {% include 'slider.html' %}
    <!-- Owl Slider Section End -->  

    <!-- Subscribe Section Start -->
    {% include 'subscribe.html' %}
    <!-- Subscribe Section End -->

    <!-- Contact Section Start -->
    {% include 'contact.html' %}
    <!-- Contact Section End -->
  
    <!-- Map Section Start -->
    <div class="map">
      <div class="containre-fulid">
        <div id="conatiner-map"></div> 
      </div>
    </div>
    <!-- Map Section End -->

	  <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->
{% endblock %}  