{% load static %}
<section id="team" class="section-padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Team</h2>
          </div>
        </div>
      </div>
      <div class="row">

        {% for f in funcionarios %}
        <div class="col-sm-6 col-md-6 col-lg-4">
          <!-- Team Item Starts -->
          <div class="team-item text-center">
            <div class="team-img">
              <img class="img-fluid" src="{{ f.imagem.thumb.url }}" alt="{{ f.nome }}">
              <div class="team-overlay">
                <div class="overlay-social-icon text-center">
                  <ul class="social-icons">
                    <li><a href="{{ f.facebook }}"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                    <li><a href="{{ f.twitter }}"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                    <li><a href="{{ f.instagram }}"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info-text">
              <h3><a href="#">{{ f.nome }}</a></h3>
              <p>{{ f.cargo }}</p>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% endfor %}
        
      </div>
    </div>
</section>
