{% load static %}
<section id="testimonial" class="testimonial section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">

            {% for o in opinioes %}
            <div class="item">
              <div class="testimonial-item">
                <div class="content">
                  <p class="description">{{ o.opiniao }}</p>
                </div>
                <div class="img-thumb">
                  <img src="{{ o.imagem.thumb.url }}" alt="{{ o.nome }}">
                </div>
                <div class="info">
                  <h2><a href="#">{{ o.nome }}</a></h2>
                  <h3><a href="#">{{ o.profissao }}</a></h3>
                </div>
              </div>
            </div>
            {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
</section>